<div class="center">
  <%= will_paginate %>
</div>

<% @users.each do |u| %>
  <div class="well well-lg">
    <div class="user-title">
      <%= link_to u.username, user_path(u) %>
    </div>
    <div class="user-body">
      <%= gravatar_for( u ) %>
      <div class="user-meta-details">
        <small>
          <%= pluralize( u.articles.count, "article") %>
        </small>
        <%= link_to "Delete this user", user_path(u), method: :delete, data: {comfirm: "Are you sure you wanna delete this user and all its articles?"} %>
      </div>
    </div>
  </div>
<% end %>

<div class="center">
  <%= will_paginate %>
</div>



